S3method(as.symDMatrix,character)
S3method(as.symDMatrix,matrix)
export(as.symDMatrix)
export(blockIndex)
export(blockSize)
export(load.symDMatrix)
export(nBlocks)
export(symDMatrix)
exportClasses(symDMatrix)
import(methods)
importFrom(LinkedMatrix, ColumnLinkedMatrix, nNodes)
importFrom(ff, as.ff, ff, vt)
importFrom(bit, physical, "physical<-")
importClassesFrom(LinkedMatrix, RowLinkedMatrix)
